#nevermind {
  background-color: chartreuse;
}
body {
  background-color: rgb(76, 0, 255);
}

#idc {
  background-color: rgb(21, 255, 0);
}

table {
  color: red;
}
#hhhh {
     background-color: greenyellow;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:blue;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }